@keyframes imgParallax {
    0% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 140%;
        width: 140%;
    }
}

.rs-kbh-slider {
    $rss: &;
    height: 100%;
    overflow: hidden;
    position: relative;
    &__container {
        height: 100%;
    }
    &__inner-container {
        position: relative;
        width: 1600px;
        height: 100%;
        padding: 0 15px;
        margin: auto;
        z-index: 2;
        display: flex;
        align-items: center;
        @media (max-width: 1800px) {
            width: 1400px;
        }
        @media (max-width: 1600px) {
            width: 1200px;
        }
        @media (max-width: 1300px) {
            width: 100%;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__slide-caption {
        flex: 0 0 75%;
        max-width: 75%;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            //bottom: 320px;
            bottom: auto;
            left: 0;
            padding: 0 15px;
            //@media (max-height: 700px) {
            //    bottom: 160px;
            //}
        }
        @media (max-height: 700px) and (max-width: 991px) {
            margin-bottom: 50px;
        }
    }
    &__wrapper {}
    &__slide {
        position: relative;
        overflow: hidden;
    }
    &__slide-image-on {
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            z-index: 1;
            height: 50%;
            width: auto;
        }
    }
    &__slide-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            animation: imgParallax 12s alternate infinite;
        }
    }
    &__slide-title {
        font-family: 'EtelkaMedium', sans-serif;
        font-size: 68px;
        color: #ffffff;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media (max-height: 750px) and (max-width: 991px) {
            font-size: 32px;
        }
        @media (max-width: 1199px) {
            font-size: 48px;
        }
        @media (max-width: 991px) {
            font-size: 26px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    &__slide-button {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            justify-content: center;
        }
        &:hover {
            #{ $rss }__slide-button-text {
                padding-left: 10px;
            }
            #{ $rss }__slide-button-svg {
                .circle-main {
                    fill: rgba(242,73, 66,1);
                }
                .circle-arrow {
                    fill: #ffffff;
                    transform: translateX(5px);
                }
            }
        }
    }
    &__slide-button-text {
        font-family: 'EtelkaMedium', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 0;
        transition: padding-left .4s ease-in-out;
    }
    &__slide-button-svg {
        @media (max-width: 767px) {
            svg {
                height: 50px;
                width: auto;
            }
        }
        .circle-main {
            fill: rgba(242,73, 66,0);
            transition: fill .4s ease-in-out;
        }
        .circle-line {
            fill: #f24942;
            transition: fill .4s ease-in-out;
        }
        .circle-arrow {
            fill: #f24942;
            transition: fill .4s ease-in-out, transform .4s ease-in-out;
            transform: translateX(0px);
        }
    }
    &__pagination {
        width: 100%;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 120px;
        left: 0;
        .swiper-pagination-bullet {
            position: relative;
            height: 48px;
            width: 48px;
            border: 1px solid rgba(255,255,255,0);
            border-radius: 100%;
            background-color: transparent;
            transition: border-color .3s ease-in-out;
            outline: none;
            @media (max-width: 767px) {
                height: 28px;
                width: 28px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 9px;
                width: 9px;
                border-radius: 100%;
                background-color: #ffffff;
            }
            &:hover {
                border: 1px solid rgba(255,255,255,.8);
            }
            &.swiper-pagination-bullet-active {
                border: 1px solid rgba(255,255,255,1);
            }
        }
        @media (max-width: 1199px) {
            .swiper-pagination-bullets {
                margin: auto;
            }
        }
        @media (max-height: 700px) and (min-width: 576px) {
            bottom: 30px;
        }
        @media (max-height: 700px) and (max-width: 575px) {
            bottom: 12px;
        }
    }
    &__arrows {
        position: absolute;
        top: 0;
        right: 60px;
        bottom: 0;
        left: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        @media (max-width: 1400px) {
            right: 40px;
        }
        @media (max-width: 1350px) {
            display: none;
        }
    }
    &__arrow-up {}
    &__arrow-down {}
    &__slide-index {
        //font-family: 'EtelkaMedium', sans-serif;
        font-size: 14px;
        color: #ffffff;
        min-height: 75px;
        //width: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
    }
}
.rs-kbh-banners {
    $rsb: &;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    //left: auto;
    margin: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: max-content;
    width: 20%;
    @media (max-width: 991px) {
        width: 100%;
    }
    &_v2 {
        #{ $rsb }__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        #{ $rsb }__item {
            min-width: auto;
            margin-bottom: 12px;
            img {
                @media (max-height: 750px) and (min-width: 400px) and (max-width: 575px){
                    height: 80px;
                    width: auto;
                }
                @media (max-height: 750px) and (max-width: 400px){
                    height: 60px;
                    width: auto;
                    margin-bottom: 12px;
                }
                @media (max-width: 767px) {
                    height: 80px;
                    width: auto;
                }
            }
        }
    }
    @media (max-width: 1300px) {
        padding: 0 15px;
    }
    @media (max-width: 991px) {
        margin-top: 0;
        top: auto;
        //bottom: 200px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-height: 700px) and (max-width: 991px) {
    //    bottom: auto;
    //    min-height: 700px;
        margin-bottom: 200px;
    }
    @media (max-height: 700px) and (max-width: 575px) {
        //bottom: -20px;
    }
    //flex: 0 0 25%;
    //max-width: 25%;
    //@media (max-width: 991px) {
    //    flex: 0 0 100%;
    //    max-width: 100%;
    //}
    &__wrapper {
        position: relative;
        @media (max-width: 991px) {
            display: flex;
            justify-content: center;
            overflow: auto;
            scroll-behavior: smooth;
            min-width: 100%;
        }
        @media (max-width: 767px) {
            justify-content: flex-start;
        }
    }
    &__item {
        display: block;
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            @media (min-height: 751px) and (max-height: 900px) and (min-width: 576px){
                height: 120px;
                width: auto;
            }
            @media (max-height: 750px) and (min-width: 576px){
                height: 100px;
                width: auto;
            }
            @media (max-height: 750px) and (max-width: 575px){
                max-width: 100%;
                height: auto;
            }
        }
        @media (max-width: 991px) {
            //min-width: 300px;
            margin-right: 12px;
            margin-bottom: 0;
        }
        @media (max-width: 575px) {
            min-width: 230px;
        }
    }
    &__control {
        @media (min-width: 992px) {
            display: none;
        }
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        //width: 100%;
        z-index: 9;
        background: linear-gradient(to right, rgba(0,0,0,0), #000000);
        button {
            height: 60px;
            width: 60px;
            border-radius: 100%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            margin: 0 4px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
            &.hide {
                display: none;
            }
        }
    }
}