header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
}
.rs-kbh-header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  &__container {
    position: relative;
    width: 1600px;
    height: 100%;
    padding: 0 15px;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  &__logo {
    img {
      height: 80px;
      width: auto;
    }
  }
  &__menu {
    margin-left: auto;
  }
}
.rs-kbh-menu {
  $rskm: &;
  display: flex;
  &__item {
    position: relative;
    &:hover {
      @media (min-width: 1200px) {
        .rs-kbh-submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
      #{ $rskm }__link {
        &::after {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    font-family: 'EtelkaMedium', sans-serif;
    font-size: 16px;
    padding: 18px;
    text-transform: uppercase;
    color: #ffffff;
    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 4px);
      right: 0;
      bottom: auto;
      left: 0;
      height: 4px;
      width: calc(100% - 36px);
      margin: auto;
      background-color: #c62839;
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      transition: all .3s ease-in-out;
    }
    &:focus,
    &:hover {
      color: #ffffff;
    }
  }
}
.rs-kbh-submenu {
  $rks: &;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 18px;
  background-color: rgba(24,54,89,.9);
  padding: 28px;
  width: 280px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
  &__item {
    &:last-of-type {
      #{ $rks }__link {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    font-family: 'EtelkaMedium', sans-serif;
    font-size: 14px;
    //padding: 18px;
    margin-bottom: 16px;
    padding-left: 0;
    text-transform: uppercase;
    color: #ffffff;
    transition: padding-left .3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: #c62839;
      opacity: 0;
      visibility: hidden;
      transform: translateX(5px);
      transition: all .3s ease-in-out;
    }
    &:focus,
    &:hover {
      padding-left: 12px;
      color: #ffffff;
      &::before {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }
}
