header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
}
.rs-kbh-header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1199px) {
    padding: 20px 0;
  }
  &__container {
    position: relative;
    width: 1600px;
    height: 100%;
    padding: 0 15px;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    @media (max-width: 1800px) {
      width: 1400px;
    }
    @media (max-width: 1600px) {
      width: 1200px;
    }
    @media (max-width: 1300px) {
      width: 100%;
    }
}
  &__logo {
    margin-right: 20px;
    img {
      height: 80px;
      width: auto;
      @media (max-width: 767px) {
        height: 50px;
      }
      @media (max-width: 767px) {
        height: 40px;
      }
    }
  }
  &__menu {
    margin-left: auto;
    @media (max-width: 1199px) {
      position: fixed;
      top: 0;
      right: -100%;
      bottom: 0;
      left: auto;
      width: 320px;
      background-color: #0d386e;
      padding-top: 60px;
      box-shadow: -50px 0px 160px 60px rgba(0,0,0,0);
      transition: right .4s ease-in-out, box-shadow .4s ease-in-out;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        padding: 2px;
        background-color: #ebebeb;
      }
      &::-webkit-scrollbar-thumb {
        background-color: darken(#ebebeb, 10%);
      }
      &.active {
        right: 0;
        box-shadow: -50px 0px 160px 60px rgba(0,0,0,.3);
      }
    }
  }
  &__open-menu {
    position: relative;
    margin-left: auto;
    height: 60px;
    width: 60px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
    &::before {
      top: 20px;
    }
    &::after {
      top: 30px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
    @media (max-width: 575px) {
      width: 40px;
    }
  }
  &__close-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 60px;
    width: 60px;
    background-color: rgba(24,54,89,.9);
    //color: #c62839;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1200px) {
      display: none;
    }
    &::after {
      content: '\02A2F';
      line-height: 1;
    }
  }
}
.rs-kbh-menu {
  $rskm: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @media (max-width: 1199px) {
    justify-content: flex-start;
  }
  &__item {
    position: relative;
    @media (max-width: 1199px) {
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
    &:hover {
      @media (min-width: 1200px) {
        .rs-kbh-submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
      #{ $rskm }__link {
        &::after {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
      }
    }
    &.active {
      .rs-kbh-submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        display: block;
      }
      #{ $rskm }__link {
        &::after {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
        }
        &::before {
          transform: rotate(0deg);
        }
      }
    }
  }
  &__has-child {
    @media (max-width: 1199px) {
      position: relative;
      #{ $rskm }__link {
        width: calc(100% - 40px);
        &::after {
          width: calc(100% + 40px);
        }
        &::before {
          content: '\02A2F';
          line-height: 1;
          position: absolute;
          top: 0;
          right: -40px;
          bottom: 0;
          left: auto;
          height: 100%;
          width: 40px;
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(-45deg);
          transition: transform .3s ease-in-out;
        }
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    font-family: 'EtelkaMedium', sans-serif;
    font-size: 16px;
    padding: 18px;
    text-transform: uppercase;
    color: #ffffff;
    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 4px);
      right: 0;
      bottom: auto;
      left: 0;
      height: 4px;
      width: calc(100% - 36px);
      margin: auto;
      background-color: #c62839;
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      transition: all .3s ease-in-out;
    }
    &:focus,
    &:hover {
      color: #ffffff;
    }
  }
}
.rs-kbh-submenu {
  $rks: &;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 18px;
  background-color: rgba(24,54,89,.9);
  padding: 28px;
  width: 280px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
  @media (max-width: 1199px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  &__item {
    &:last-of-type {
      #{ $rks }__link {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    position: relative;
    display: block;
    font-family: 'EtelkaMedium', sans-serif;
    font-size: 14px;
    //padding: 18px;
    margin-bottom: 16px;
    padding-left: 0;
    text-transform: uppercase;
    color: #ffffff;
    transition: padding-left .3s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: #c62839;
      opacity: 0;
      visibility: hidden;
      transform: translateX(5px);
      transition: all .3s ease-in-out;
    }
    &:focus,
    &:hover {
      padding-left: 12px;
      color: #ffffff;
      &::before {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }
}
