.rs-kbh-slider {
    height: 100%;
    &__container {
        height: 100%;
    }
    &__inner-container {
        position: relative;
        width: 1600px;
        height: 100%;
        padding: 0 15px;
        margin: auto;
        z-index: 1;
        display: flex;
        align-items: center;
        @media (max-width: 1800px) {
            width: 1400px;
        }
        @media (max-width: 1600px) {
            width: 1200px;
        }
        @media (max-width: 1300px) {
            width: 100%;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__slide-caption {
        flex: 0 0 75%;
        max-width: 75%;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
    &__slide-banners {
        position: relative;
        flex: 0 0 25%;
        max-width: 25%;
        @media (max-width: 991px) {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            overflow: auto;
            scroll-behavior: smooth;
        }
    }
    &__slide-banners-btn {
        @media (min-width: 992px) {
            display: none;
        }
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 9;
        button {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            margin: 0 4px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
        }
    }
    &__slide-banner {
        display: block;
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
        img {
            width: 100%;
        }
        @media (max-width: 991px) {
            min-width: 300px;
            margin-right: 12px;
        }
        @media (max-width: 575px) {
            min-width: 230px;
        }
    }
    &__wrapper {}
    &__slide {
        position: relative;
    }
    &__slide-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__slide-title {
        font-family: 'EtelkaMedium', sans-serif;
        font-size: 68px;
        color: #ffffff;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media (max-width: 1199px) {
            font-size: 48px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    &__slide-button {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            justify-content: center;
        }
    }
    &__slide-button-text {
        font-family: 'EtelkaMedium', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__slide-button-svg {
        @media (max-width: 767px) {
            svg {
                height: 50px;
                width: auto;
            }
        }
    }
    &__pagination {
        width: 100%;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 10px;
        left: 0;
        .swiper-pagination-bullet {
            position: relative;
            height: 48px;
            width: 48px;
            border: 1px solid rgba(255,255,255,0);
            border-radius: 100%;
            background-color: transparent;
            transition: border-color .3s ease-in-out;
            @media (max-width: 767px) {
                height: 28px;
                width: 28px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 9px;
                width: 9px;
                border-radius: 100%;
                background-color: #ffffff;
            }
            &:hover {
                border: 1px solid rgba(255,255,255,.8);
            }
            &.swiper-pagination-bullet-active {
                border: 1px solid rgba(255,255,255,1);
            }
        }
        @media (max-width: 1199px) {
            .swiper-pagination-bullets {
                margin: auto;
            }
        }
    }
    &__arrows {
        position: absolute;
        top: 0;
        right: 60px;
        bottom: 0;
        left: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        @media (max-width: 1400px) {
            right: 40px;
        }
        @media (max-width: 1350px) {
            display: none;
        }
    }
    &__arrow-up {}
    &__arrow-down {}
    &__slide-index {
        //font-family: 'EtelkaMedium', sans-serif;
        font-size: 14px;
        color: #ffffff;
        min-height: 75px;
        //width: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
    }
}